footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.social-icons img {
    padding: 0.5rem;
    transform: scale(0.5);
}