nav {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-bottom: 5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.list a {
    text-decoration: none;
    color: var(--concretegrey);
}

.list a:visited {
    color: var(--concretegrey);
}